---
import Layout from '../layouts/Layout.astro';
import { executeQuery } from '~/lib/datocms/executeQuery';

import { isDraftModeEnabled } from '~/lib/draftMode';
import { DraftModeQueryListener } from '~/components/DraftModeQueryListener';

import { query } from './_graphql';

const draftModeEnabled = isDraftModeEnabled(Astro.cookies);
const { page, changelogs } = await executeQuery(query, { includeDrafts: draftModeEnabled });

if (!page || changelogs.length === 0) {
  return new Response(null, {
    status: 404,
    statusText: 'Not found',
  });
}
---

<Layout additionalSeo={page._seoMetaTags}>
  <div class="bg-blue-400 p-4 text-white">
    <h1 class="text-4xl text-center">Novità</h1>
    <h2 class="text-2xl text-center">Aggiornamenti e nuove funzionalità di Gestart.net</h2>
  </div>

  <h1>{page.title}</h1>
  {
    changelogs.map((changelog) => (
      <div>
        <h2>{changelog.title}</h2>
      </div>
    ))
  }
  <footer>Published at {page._firstPublishedAt}</footer>

  <DraftModeQueryListener query={query} />
</Layout>
