---
import Layout from '~/layouts/Layout.astro';
import { executeQuery } from '~/lib/datocms/executeQuery';
import { StructuredText } from '@datocms/astro';

import { isDraftModeEnabled } from '~/lib/draftMode';
import { DraftModeQueryListener } from '~/components/DraftModeQueryListener';
const draftModeEnabled = isDraftModeEnabled(Astro.cookies);

import { query } from './_graphql';

import { ImageBlock } from '~/components/blocks/ImageBlock';
import { VideoBlock } from '~/components/blocks/VideoBlock';
import { BlogPageInline } from '~/components/inlineRecord/BlogPageInline';
import { DocPageInline } from '~/components/inlineRecord/DocPageInline';

const { page, changelogs } = await executeQuery(query, { includeDrafts: draftModeEnabled });

if (!page || changelogs.length === 0) {
  return new Response(null, {
    status: 404,
    statusText: 'Not found',
  });
}
---

<Layout additionalSeo={page._seoMetaTags}>
  <div class="bg-linear-to-b from-blue-500 to-blue-400 px-8 py-10 text-white">
    <h1 class="text-4xl text-center font-bold mb-4">Novità</h1>
    <h2 class="text-3xl text-center">Aggiornamenti e nuove funzionalità di Gestart.net</h2>
  </div>

  <div class="flex items-center flex-col mt-20 gap-12">
    {
      changelogs.map((item) => (
        <article class="w-full max-w-3xl">
          <a href={`/${item.slug}`}>
            <h2 class="text-3xl font-bold mb-4">{item.title}</h2>
          </a>
          <StructuredText
            data={item.body}
            blockComponents={{
              ImageBlockRecord: ImageBlock,
              VideoBlockRecord: VideoBlock,
            }}
            inlineRecordComponents={{
              BlogPageRecord: BlogPageInline,
              DocPageRecord: DocPageInline,
            }}
          />
        </article>
      ))
    }
  </div>

  <DraftModeQueryListener query={query} />
</Layout>
